<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->

<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">
        <h2 class="footer-heading">Socials</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <a href="#" class="fa fa-facebook"></a>
            </div>

            <div class="footer-col footer-col-1">
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>

</footer>